# macOS system files
.DS_Store

# Terraform configuration and state
terraform/

# Python bytecode and cache
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments (adjust folder names as needed)
env/
venv/
.venv/

# Environment variable files (avoid committing secrets)
.env

# Log files
*.log

# Editor and IDE settings
.vscode/
.idea/

# Backup files
*.bak
*.tmp

*.pkl
*.csv
